
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.airbnb-icon {
  color: white;
}

.image-section {
  display: flex;
  flex-flow: row nowrap;
  flex-direction: flex-start;
  position: relative;
}

.image-cover {
  width: 25vw;
  margin: 0 8px 0 0;
}

.image-cover img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.image-cover-last {
  width: 25vw;
  margin: 0 0 0 0;
}

.image-cover-last img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.vertical-stack-images {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 8px 0 0;
}

.vertical-stack-images .image-cover-stacked {
  width: 12.5vw;
  margin: 0;
  display: flex;
}

.image-cover-stacked img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.vertical-stack-images .image-cover-stacked:first-child {
  margin-bottom: 8px;
}

/* .vertical-stack-images .image-cover-stacked:last-child {
  margin: 0 8px 0 0;
} */

.share-save {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 15px;
  right: 15px;
}

.share {
  padding-right: 10px;
}

.save-btn, .share-btn {
  padding: 5px 10px 5px 10px;
  border-radius: 4px;
}

.share-icon, .save-icon {
  padding-right: 5px;
}

.save-text, .share-text {
  font-size: 14px;
}

.listCityAndActivity {
  overflow-x: hidden;
  white-space: nowrap;
}

.listItem {
  color: white;
  font-size: 14px;
  display: inline;
}

.details-container {
  display: flex;
  flex-wrap: wrap;
}

.details-display {
  display: flex;
  flex-wrap: wrap;
}

.individual-detail {
  padding-left: 50px;
}

.activity-classification {
  font-size: 12px;
  line-height: 1.75em;
}

.activity-title {
  font-size: 32px;
  line-height: 1.25em;

}

.activity-city-state {
  font-size: 16px;
  line-height: 1.75em;
}

.average-rating {
  font-size: 16px;
  line-height: 1.75em;
}

.footer-bar {
  position: fixed;
  width: 100%;
  background-color: yellow;
}

.infoBelow {
  display: flex;
  flex-wrap: wrap;
  color: white;
}

.firstCol {
  flex-basis: 35%;
  flex-wrap: wrap;
}

.secondCol {
  flex-basis: 65%;
  flex-wrap: wrap;
}

.ft-bar-cost, .ft-bar-dates {
  font-size: 16px;
}

.ft-bar-reviews {
  font-size: 13px;
}



